body {
    height: 100vh;
    margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleSpace {
    text-align: center;
    font-size:x-large;
}

#timeSpace {
    padding-top: 5%;
    text-align: center;
    font-size: medium;
}
