body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 500px;
  height: 500px;

  border: 3px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}
